@import url("leaflet/dist/leaflet.css");

.leaflet-container {
    height: 100% ;
  }

.Dashboard{
    background-color: $light_gray;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;

    .orders{
        flex: 2;
        overflow-y: scroll;
        height: 100%;
        display: flex;
        gap: 20px;
        flex-direction: column;
        position: relative;

        .static{
            position: absolute;
            padding: 20px;
            background-color: $light_gray;
            position: sticky;
            z-index: 3;
            top: 0;
            display: flex;
            flex-direction: column;
            gap: 20px;

            .orders__title{
                font-weight: 600;
                font-size: 20px;
            }

            .orders__search{
                display: flex;
                align-items: center;
                gap: 20px;

                input{
                    height: 40px;
                    width: 90%;
                    border-radius: 12px;
                    border: none;
                    padding: 20px;

                    &::placeholder{
                        color: $gray;
                        font-size: 14px;
                    }
                }

                .orders__filter{
                    margin-left: auto;
                    background-color: white;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding: 0 15px;
                    border-radius: 12px;
                    gap: 5px;
                    font-size: 12px;
                    font-weight: 600;
                    letter-spacing: 1.1px;
                    cursor: pointer;

                    i{
                        transform: scale(1.7);
                    }
                }
            }
        }

        &__all{
            display: flex;
            gap: 10px;
            flex-direction: column;
            padding-left: 10px;
            padding-right: 20px;

            .order{
                background-color: white;
                border-radius: 15px;
                padding: 20px;
                width: 100%;
                display: flex;
                flex-direction: column;
                gap: 5px;
                position: relative;
                cursor: pointer;

                &__selected{
                    position: absolute;
                    width: 3px;
                    border-radius: 10px;
                    background-color: $done;
                    height: 70%;
                    left: 0;
                }

                &__title{
                    display: flex;
                    align-items: center;
                    width: 100%;
                    justify-content: space-between;
                    .order__id{
                        font-weight: 600;
                        font-size: 20px;
                    }

                    .order__status{
                        padding: 5px 25px;
                        font-size: 12px;
                        color: white;
                        width: max-content;
                        border-radius: 20px;
                    }

                    .Done{
                        background-color: $done;
                    }

                    .Pending{
                        background-color:$pending;
                    }

                    .Canceled{
                        background-color: $canceled;
                    }
                }

                &__client{
                    font-size: 14px;
                    color: #ccc;
                }

                &__trajectory{
                    display: flex;
                    gap: 15px;
                    align-items: center;

                    &__time{
                        display: flex;
                        gap: 15px;
                        font-size: 12px;
                        color: $gray;
                        flex-direction: column;
                    }
                    
                    &__line{
                        background-color: black;
                        width: 2px;
                        height: 70%;
                        z-index: 2;
                        position: relative;

                        &::after{
                            content: '';
                            position: absolute;
                            width: 8px;
                            height: 8px;
                            top: -10%;
                            transform: translateX(-35%);
                            border-radius: 50%;
                            background-color: black;
                        }

                        &::before{
                            content: '';
                            position: absolute;
                            width: 8px;
                            height: 8px;
                            bottom: -10%;
                            transform: translateX(-35%);
                            border-radius: 50%;
                            background-color: black;
                        }
                    }

                    &__adress{
                        display: flex;
                        gap: 15px;
                        flex-direction: column;
                        font-size: 14px;
                    }
                }

            }
        }
    }

    .map_info{
        flex: 3;
        height: 100%;
        .map{
            height: calc(100% / 2);
        }
        .map_details{
            height: calc(100% / 6);
            border-radius: 20px;
            background-color: white;
            display: flex;
            align-items: center;
            color: black;
            gap: 50px;
            justify-content: center;

            &__info{
                display: flex;
                align-items: center;
                gap: 15px;

                &__icon{
                    i{
                        font-size: 18px;
                        color: $main_color;
                    }
                }

                &__content{
                    &__title{
                        font-size: 16px;
                    }

                    &__input{
                        font-size: 12px;
                        color: $gray;
                    }
                }
            }
        }
        .driver_info{
            height: calc(100% / 3);
            background-color: white;
            display: flex;
            flex-direction: column;
            padding: 20px;
            border-radius: 30px;

            .driver{
                display: flex;
                align-items: center;
                justify-content: space-around;

                
                &__info{
                    display: flex;
                    align-items: center;
                    gap: 20px;

                    &__image{
                        width: 50px;
                        height: 50px;
                        

                        img{
                            width: 100%;
                            height: 100%;
                            border-radius: 50%;
                            object-fit: cover;
                        }
                    }

                    &__name{
                        display: flex;
                        gap: 5px;
                        font-weight: 500;
                        flex-direction: column;
                        .name{
                            font-size: 12px;
                            color: #ccc;
                        }
                    }
                }

                &__call{
                    background-color: #40c764;
                    border: 1px solid white;
                    padding: 10px 20px;
                    color: white;
                    border-radius: 20px;
                    display: flex;
                    gap: 7px;
                    cursor: pointer;
                    transition: .25s all ease-in;

                    &:hover{
                        background-color: white;
                        border: 1px solid #40c764;
                        color: #40c764;
                    }
                }
            }

            .driver__details{
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: space-around;

                &__detail{
                    display: flex;
                    flex-direction: column;
                    gap: 4px;

                    &__title{
                        font-size: 14px;
                        color: $dark_gray;
                    }

                    &__description{
                        font-size: 18px;
                        font-weight: 500;
                    }
                }
            }
        }
    }
}