.ParcAuto{
    height: 100vh;
    background-color: #f3f3f3;
    display: flex;
    flex-direction: column;

    .header{
        background-color: $main_color;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
        padding: 20px;
        color: white;
        display: flex;
        flex-direction: column;
        gap: 15px;


        .title{
            font-size: 42px;
        }

        .desc{
            color: black;
            font-size: 16px;
        }

        .search{
            display: flex;
            align-items: center;
            gap: 20px;

            input{
                width: 450px;
                padding: 10px 0;
                border-radius: 20px;
            }
        }
    }


    .Content{
        overflow-y: scroll;
        .Leases{
            padding: 20px;
            display: flex;
            flex-direction: column;
            gap: 15px;
            .lease{
                background-color: white;
                border-radius: 20px;
                padding: 15px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                .trajectory__client{
                    color: gray;
                }

                .Actions{
                    display: flex;
                    align-items: center;
                    font-size: 12px;
                    gap: 10px;

                    .Assign{
                        background-color: lighten($color: $pending, $amount: 20);
                        border: 1px solid $pending;
                        padding: 7px 5px;
                        border-radius: 20px;
                        cursor: pointer;
                    }

                    .Details{
                        background-color: lighten($color: #1E92F4, $amount: 20);
                        border: 1px solid #1E92F4;
                        padding: 7px 5px;
                        border-radius: 20px;
                        cursor: pointer;
                    }
                }
                .trajectory__image{
                    width: 150px;
                    height: 50px;

                    img{
                        width: 100%;
                        height: 100%;
                        object-fit: contain;
                    }
                }
            }
        }
    }
}