
.SideBar{
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 20px;

    .logo{
        width: 100%;
        height: 100px;
        display: flex;
        justify-content: center;

        img{
            width: 100px;
            height: 100%;
            object-fit: cover;
        }
    }

    &_list{
        margin-top: 50px;

        ul{
            list-style: none;
            display: flex;
            justify-content: center;
            gap: 15px;
            flex-direction: column;

            .selected {
                color: $main_color;
                position: relative;

                &::after{
                    content: '';
                    position: absolute;
                    width: 3px;
                    height: 100%;
                    background-color: $main_color;
                    opacity: 1;
                    top: 0;
                    border-radius: 5px;
                    transform: translateY(0%);
                    left: -10px;
                    transition: all .25s ease-in;
                }

                a{
                    color: $main_color;
                }
            }

            li{
                display: flex;
                align-items: center;
                gap: 15px;
                position: relative;
                padding: 5px;
                transition: all .25s ease-in-out;
                cursor: pointer;

                &:hover{
                    gap: 25px;
                    color: $main_color;
                }
                
                &::after{
                    content: '';
                    position: absolute;
                    width: 3px;
                    height: 100%;
                    background-color: $main_color;
                    opacity: 0;
                    top: 0;
                    border-radius: 5px;
                    transform: translateY(-50%);
                    left: -10px;
                    transition: all .25s ease-in;
                }
                &:hover::after{
                    opacity: 1;
                    transform: translateY(0);
                }  
                &:hover a {
                    color: $main_color;
                }
                a{
                    color: black;
                    text-decoration: none;
                    transition: all .25s ease-in;
                    letter-spacing: 2px;
                }
            }
        }
    }
    .user{
        margin-top: auto;
        display: flex;
        align-items: center;
        gap: 15px;

        &_image{
            width: 55px;
            height: 55px;

            img {
                width: 100%;
                height: 100%;
                border-radius: 50%;
                object-fit: cover;
            }
        }

        &__name{
            
            .logout{
                font-size: 12px;
                color: $gray;

                cursor: pointer;
            }
        }
    }
}