@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;500;700;900&display=swap');



$main_color : #F9B238;
$done : #40c764;
$gray : #ccc;
$light_gray : #f3f3f3;
$pending : #ff7b00;
$canceled: #d41f1f;
$dark_gray : darkgray;
$font_family :'Fira Sans', sans-serif;